* {
	margin: 0;
	padding: 0;
}

.text-centre {
	text-align: center;
}

.header-text {
	font-size: 50;
}

.floating-panel {
	position: fixed;
	margin-left: 20px;
	margin-top: 20px;
}

.container {
	max-width: 800px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.container img {
	margin: auto;
	display: block;
	max-width: 90%;
}

.fill-container-width {
	width:  100%;
}

.video-embed {
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
}

.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.horizontal-bar {
	width: 90%;
	border-top: 2px solid black;
	margin: 10px auto;
}

.grow-on-hover {
    transition:transform 0.25s ease;
}

.grow-on-hover:hover {
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
}